.sectionWrapper {
    margin-top: 1.5rem;
}

.main {
    padding-bottom: 4rem;
}

.loading {
    text-align: center;
    font-size: 3rem;
    color: red;
    animation: loading 1.2s ease-in-out infinite;
}